@model List<SliderViewModel>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sliders</h4>
                <a asp-controller="slider" asp-action="create" class="btn btn-primary">Create Slider</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>
                                    <td><img src="@item.ImageUrl" style="height:135px; width:270px; border-radius:0px" /></td>
                                    <td>
                                        <a class="btn btn-warning" asp-controller="slider" asp-action="update" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger" asp-controller="slider" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>