@model List<ProductViewModel>

@foreach (var product in Model )
{

    <div class="single-slide">
        <div class="product-card">
            <div class="product-header">
                <a href="#" class="author">
                    @product.Brand
                </a>
                <h3>
                    <a href="product-details.html">
                        @product.Name
                    </a>
                </h3>
            </div>
            <div class="product-card--body">
                <div class="card-image">
                    <img src="~/image/products/product-1.jpg" alt="">
                    <div class="hover-contents">
                        <a href="product-details.html" class="hover-image">
                            <img src="~/image/products/product-1.jpg" alt="">
                        </a>
                        <div class="hover-btns">
                            <a data-product-id="@product.Id" onclick="addToBasket(@product.Id)" class="single-btn">
                                <i  class="fas fa-shopping-basket"></i>
                            </a>
                            <a href="wishlist.html" class="single-btn">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a href="compare.html" class="single-btn">
                                <i class="fas fa-random"></i>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#quickModal"
                            class="single-btn">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="price-block">
                    <span class="price">@product.MainPrice</span>
                    <del class="price-old">@product.DiscountPrice</del>
                </div>
            </div>
        </div>
    </div>
}

